
@media all and (min-width: 1025px)
{


	@font-face {
	    font-family: 'black_jackregular';
	    src: url('fonts/blackjack-webfont.eot');
	    src: url('fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
	         url('fonts/blackjack-webfont.woff2') format('woff2'),
	         url('fonts/blackjack-webfont.woff') format('woff'),
	         url('fonts/blackjack-webfont.ttf') format('truetype'),
	         url('fonts/blackjack-webfont.svg#black_jackregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

}

	h1
	{
		color: black;
		font-weight: bolder;
		font-family: "black_jackregular",Impact;
		text-align: center;
		font-size: 3em;
		margin: 0px;

	}


	.titre2
	{
		font-size: 2em;
		margin: 0px;
	}


	body
	{
		background-image: url("back4.png");
		background-image: opacity: 0.2;
		background-size: 100% auto;

	}

	#blockpage1

	{
		width:1250px;
		margin: auto;
		
	}

	nav ul
	{
		list-style-type: none;
		display: flex;
		margin-right: 35px;
		text-transform: uppercase;
		background-color: #FFD573;
		opacity: 0.8;
		padding: 9px;
	}

	nav li
	{
		margin-right: 35px;
		margin-top: 0px;

	}

	nav a
	{
		font-size: 1.2em;
		text-decoration: none;
		color: black;
	}

	nav a:hover
	{

		/*border-bottom: 3px solid #760001;*/
		color: #760001;

	}

	#photoback
	{

		height: 300px;
		background: url('photos/Parku.jpg'); no repeat;
		background-size: ;
		position: relative;
		box-shadow: 0px 4px 4px #1c1a17;

	}

	#description
	{

		position: absolute;
		bottom:  0;
		border-radius: 0px 0px 5px 5px;
		width: 99.5%;
		height: 33px;
		padding-top: 15px;
		padding-left: 4px;
		box-shadow: 2px 2px 2px #FFD573;
		background-color: #FFD573;
		opacity:0.9;
	}


		.titre3
	{
		clear:both ;
		background-color: white;
		opacity: 0.7;
		text-align: center;
		box-shadow: 2px 2px 2px yellow;
		padding: 8px;
	}

		/* Ornela*/

	#Ornelaphoto
	{
		display: inline-block;
		vertical-align: middle;

	}

	#Ornelatext
	{
		display: inline-block;
		vertical-align: middle;
		background-color: white;
		opacity: 0.7;
		width: 50%;
		padding:10px ;
		font-size: 1.2em;

	}

	#Ornela
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row-reverse;
	}

	#Babiphoto
	{
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

	}

	#Babitext
	{
		display: inline-block;
		vertical-align: middle;
		background-color: white;
		opacity: 0.7;
		width: 50%;
		padding:10px ;
		font-size: 1.2em;
		margin-bottom: 20px;

	}

	#Babi
	{
		display: flex;
		justify-content: space-around;

	}


	#pamje
	{
		display: flex;
		justify-content: space-around;
	}

		#produkte
	{
		display: flex;
		justify-content: space-around;

	}

	.produkt1
	{
		background-color: white;
		opacity: 0.7;
		padding: 8px;	
		text-align: center;
	}

	.produkt2
	{
		background-color: white;
		opacity: 0.7;
		padding: 8px;	
		text-align: center;
	}

	.produkt3
	{
		background-color: white;
		opacity: 0.7;
		padding: 8px;	
		text-align: center;
	}

	#receta
	{

		display:flex ;
	}

	#Parku
	{

		display:flex ;
		justify-content: space-around;
		
	}

	#Parku1
	{

		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;

	}

	.textparku
	{

		display: inline-block;
		vertical-align: middle;
		background-color: white;
		opacity: 0.7;
		width: 50%;
		padding:10px ;
		font-size: 1.2em;
		margin-left: 20px;
	}

	 #Parku2

	 {
	 	display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;
		margin-left: 20px;

	 }




	footer
	{
		clear:both ;
		background-color: white;
		opacity: 0.7;
		text-align: auto;
		box-shadow: 0px 0px 0px 2px yellow;
		padding: 8px;
		margin-top: 10px;
		justify-content: space-around;
		list-style-type: none;;

	}

	.foot
	{
		display: inline-block;
		vertical-align: middle;
		margin-left: 100px;
		color: black;
		text-decoration: none;
	}

	.foot2
	{
		display: inline-block;
		vertical-align: middle;
		margin-left: 100px;
		color: black;
		text-decoration: none;
	}

	.foot3
	{
		display: inline-block;
		vertical-align: middle;

		color: black;
		margin-left: 150px;

	}

	.foot0
	{
		display: inline-block;
		vertical-align: middle;
		margin: 10px;
		

	}


	.telefon
	{
		display: none;
	}
}




































/* Telefoni*/

@media all and (max-width: 1024px)
{

	.computer
	{
		display: none;
	}

	@font-face 
		{
			font-family: 'black_jackregular';
			src: url('fonts/blackjack-webfont.eot');
			src: url('fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
			url('fonts/blackjack-webfont.woff2') format('woff2'),
		    url('fonts/blackjack-webfont.woff') format('woff'),
		    url('fonts/blackjack-webfont.ttf') format('truetype'),
		    url('fonts/blackjack-webfont.svg#black_jackregular') format('svg');
		    font-weight: normal;
		    font-style: normal;
		}


		h1
		{
			color: black;
			font-weight: bolder;
			font-family: "black_jackregular",Impact;
			text-align: center;
			font-size: 6em;
			margin: 0px;

		}


		.titre2
		{
			font-size: 3em;
			margin bottom: 40px;
		}

		
		body
		{
			background-image: url("backb.jpg");
			background-image: opacity: 0.2;

		}

		.titull1
		{

			background-color: white;
			opacity: 0.7;
			text-align: center;
			box-shadow: 2px 2px 2px yellow;
			padding: 8px;
		}

		.titre3
		{
			clear:both ;
			background-color: white;
			opacity: 0.7;
			text-align: center;
			box-shadow: 2px 2px 2px yellow;
			padding: 8px;
			font-size: 2em;
		}

		nav
		{
			background-color: #FFD573;

			font-size: 0.8em;
		}

		nav ul
		{
			list-style-type: none;
			display: flex;
			justify-content: space-around;
			text-transform: uppercase;
			background-color: #FFD573;
			opacity: 0.8;
			padding: 9px;
			font-size: 2.5em;
			text-align: center;
			align-content: center;

		}

		nav li
		{
			margin-right: 35px;
			margin-top: 0px;
			margin-left: 25px;

		}

		nav a
		{

			text-decoration: none;
			color: black;
		}

		nav a:hover
		{

			/*border-bottom: 3px solid #760001;*/
			color: #760001;

		}

		#photoback1
		{

			height: 250px;
			background: url('photos/Parku.jpg'); no repeat;
			background-size: ;
			position: relative;
			box-shadow: 0px 4px 4px #1c1a17;

		}

		#description1
		{

			position: absolute;
			bottom:  0;
			border-radius: 0px 0px 5px 5px;
			width: 99.5%;
			height: 33px;
			padding-top: 16px;
			padding-left: 4px;
			padding-bottom: 16px;
			box-shadow: 2px 2px 2px #FFD573;
			background-color: #FFD573;
			opacity:0.9;
			font-size: 1.6em;
			text-align: center;
		}


		#Babiphoto
		{
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 20px;


		}

		#BabiOrnelatext
		{
			display: inline-block;
			vertical-align: middle;
			background-color: white;
			opacity: 0.7;
			padding:10px ;
			font-size: 1.4em;
			margin-bottom: 20px;
			width: auto;
		}

		#BabiOrnela
		{

			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;

		}

		#produktet
		{
			display: none;
			justify-content: space-around;
			flex-wrap: wrap;

		}

		.produkt1
		{
			background-color: white;
			opacity: 0.7;
			padding: 8px;	
			text-align: center;
		}

		.produkt2
		{
			background-color: white;
			opacity: 0.7;
			padding: 8px;	
			text-align: center;
		}

		.produkt3
		{
			background-color: white;
			opacity: 0.7;
			padding: 8px;	
			text-align: center;
		}

		#photo1
		{

		margin-top: 400px;
		margin-bottom: 300px;
		}

		#pamje1
		{
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}


		#Parku1
		{

			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;

		}

		.textparku1
		{


			display: inline-block;
			vertical-align: middle;
			background-color: white;
			opacity: 0.7;
			padding:10px ;
			font-size: 1.3em;
			font-size: 1.4em;
			width: auto;
		}

		.kliko
		{
			background-color: white;
			opacity: 0.7;
			padding:10px ;
			font-size: 1.4em;
		}

		#receta1
		{

			display: flex;
			justify-content: space-around;

		}

		#receta2
		{

			display: flex;
			justify-content: space-around;


		}

		#receta11 
		{
			margin-left: 20px;
		}

		#receta12
		{
			margin-left: 20px;
		}



		footer
		{
			clear:both ;
			background-color: white;
			opacity: 0.7;
			text-align: auto;
			box-shadow: 0px 0px 0px 2px yellow;
			padding: 8px;
			margin-top: 10px;
			list-style-type: none;;
			flex-wrap: wrap;
			font-size: 1.3;
		}
		
		.foot
		{
			display: inline-block;
			vertical-align: middle;
			margin-left: 100px;
			color: black;
			text-decoration: none;
			color: black;
			font-size: 1.3;

		}

		.foot2
		{
			display: inline-block;
			vertical-align: middle;
			margin-left: 100px;
			color: black;
			text-decoration: none;
			color: black;
			font-size: 1.3;


		}

		.foot0
		{
			display: inline-block;
			vertical-align: middle;
			margin: 10px;
			font-size: 1.3;
			

		}

		.perfundimi
		{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			color: black;
			text-align: center;
			background-color: #FFD573;
			opacity: 0.8;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-bottom: 20px;

		}
		
	
}
